attr==0.3.2
ConfigParser==7.2.0
cryptography==47.0.0
docutils==0.22.4
filelock==3.29.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
mss==9.0.1
numpy==2.4.4
opencv_python==4.9.0.80
opencv_python_headless==4.11.0.86
protobuf==7.34.1
pyautogui==0.9.54
PyDirectInput==1.0.1
pygetwindow==0.0.9
pyOpenSSL==26.1.0
redis==7.4.0
Sphinx==9.1.0
thread==2.0.6
torch==2.11.0
transitions==0.9.0
typing_extensions==4.15.0
ultralytics==8.4.41
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
